@page "/createperson"
@rendermode InteractiveServer

<PageTitle>Create Person</PageTitle>

<h1>Create Person</h1>

<div>
    Forename <input @bind="forename">
</div>

<div>
    Surname <input @bind="surname">
</div>

<div>
    Email <input @bind="email">
</div>

<br>

<button class="btn btn-primary" @onclick="CreatePerson">Create Person</button>

@code {
    [Inject]
    private IPersonRepositry? _personRepository { get; set; }

    private string forename = string.Empty;
    private string surname = string.Empty;
    private string email = string.Empty;

    private async Task CreatePerson()
    {
        if (_personRepository is not null)
        {
            await _personRepository.CreatePerson(new Person
                {
                    Forename = forename,
                    Surname = surname,
                    Email = email
                });

            forename = string.Empty;
            surname = string.Empty;
            email = string.Empty;
        }
    }
}
